.container {
  margin: auto;
  text-align: center;
}

.movies-card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}


.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 300px;
  transition: 0.3s;
  background-color:black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icons {
  margin-left: 340px;
  gap: 10px;
  display: flex;
}

.pencil {
  background-color: dodgerblue;
}

.add-btn {
  margin-top: 20px;
  margin-left: 90px;
  padding: 10px;
}

.contrast {
  padding: 2px;
  width: 200px;
  height: 50px;
}

.delete-btn-div {
  margin-top: 20px;
  margin-left: 290px;
}

.delete-btn {
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

input[type="text"] {
  width: 200px;
}

.loadingicon {
  width: 50px;
  animation:spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */